<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<section th:fragment="hero" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to Rainforest</h1>
        <p class="lead text-muted">The number 1 online marketplace!</p>
        <p>
            <a href="/category/1" class="btn btn-primary my-2">Beanies</a>
            <a href="/category/2" class="btn btn-secondary my-2">Car Parts</a>
            <a href="/category/3" class="btn btn-primary my-2">PC Accessories</a>
            <a href="/category/4" class="btn btn-primary my-2">Notebooks</a>
        </p>
    </div>
</section>

</html>