<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rainforest Homepage</title>
</head>
<body>

<h1>Welcome to Rainforest</h1>
<div th:each="category : ${allCategories}">

    <a th:href="@{'/category/' + ${category.id}}"><p th:text="(${category.name})"></p></a>
</div>

<div th:each="image : ${allProducts}">

    <a th:href="@{'/product/'+ ${image.name}} ">
    <img th:src="@{'/images/' + ${image.name} + '.png'}" />


    <p th:text="(${image.name})"></p>
    </a>

</div>

</body>
</html>